@use "@/assets/styles/utils" as *;

h1 {
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;

  @include xl {
    font-size: 4rem;
    line-height: 0.9;
  }
}

h2 {
  font-family: var(--font-secondary);
  font-size: 1.75rem;
  line-height: 1;

  @include xl {
    font-size: 2.5rem;
    line-height: 0.95;
  }
}

h3 {
  font-family: var(--font-secondary);
  font-size: 1.75rem;
  line-height: 1;

  @include xl {
    font-size: 2rem;
  }
}

h4 {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  line-height: 1;

  @include xl {
    font-size: 1.5rem;
    line-height: 1.1;
  }
}

.lead {
  font-family: var(--font-primary);
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: -0.03em;

  @include xl {
    font-size: 1.3125rem;
    line-height: 1.4;
  }
}

body,
.body {
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.note {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;

  @include xl {
    font-size: 1rem;
  }
}

.button {
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;

  @include xl {
    font-size: 1.125rem;
  }
}
