@use "@/assets/styles/utils" as *;

.form {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 0;
  padding: 1.5rem;
  color: $color-secondary;
  background-color: $color-primary;
  border-radius: 1rem;

  @include lg {
    flex-direction: row;
    padding: 3rem;
  }

  @include xl {
    margin: 6rem auto auto;
    padding: 4rem;
    max-width: 76rem;
  }

  @include xxl {
    justify-content: center;
    align-items: center;
  }

  &__info {
    margin-right: 2.1rem;
  }

  &__title {
    max-width: 13rem;

    @media (min-width: 347px) {
      max-width: 100%;
    }
  }

  &__benefits {
    @include lg {
      max-width: 14rem;
    }

    @include xl {
      max-width: 100%;
    }
  }
  &__benefit {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;

    &-icon {
      width: 24px;
      height: 24px;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 0.5rem;
    flex: 1;
    padding: 0;

    @include lg {
      margin-top: 0;
    }

    @include xxl {
      padding: 0 0 0 3rem;
      flex: none;
    }
  }

  &__text-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include sm {
      flex-direction: row;
    }

    @include md {
      max-width: 90%;
    }

    @include lg {
      flex-direction: column;
      max-width: 100%;
    }

    @include xxl {
      max-width: 40rem;
    }
  }

  &__text-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem 1.25rem;
    color: $color-text;
    background-color: #fff;
    border: none;
    border-radius: 2.5rem;
    gap: 0.5rem;

    &::placeholder {
      opacity: 0.5;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
    cursor: pointer;
    gap: 0.5rem;

    &-input {
      position: absolute;
      opacity: 0;
    }

    &-label {
      position: relative;
      padding-left: 2rem;
      cursor: pointer;
      user-select: none;

      &::before {
        position: absolute;
        top: 0.15rem;
        left: 0;
        width: 1.25rem;
        height: 1.25rem;
        background-image: url("@/assets/icons/IconCheckboxUnchecked.svg");
        background-size: contain;
        background-repeat: no-repeat;
        content: "";

        @media (min-width: 448px) {
          top: -0.2rem;
        }

        @include xl {
          top: 0.15rem;
        }

        @media (min-width: 1398px) {
          top: -0.2rem;
        }
      }
      @media (min-width: 448px) {
        margin-top: 0;
      }
    }

    &-input:checked + &-label::before {
      background-image: url("@/assets/icons/IconCheckboxChecked.svg");
      transform: scale(1.3);
    }

    &-text {
      text-align: 11rem;
    }

    &-error {
      display: block;
      color: #ff6f6f;
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem 0 1.5rem;
    color: $color-dark;
    background-color: $color-secondary;
    border-radius: 2.5rem;
    max-width: 15rem;

    @include sm {
      max-width: 12rem;
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 0;
    }

    @include xl {
      max-width: 13rem;
      margin-top: 1rem;
    }

    @include xxl {
      margin-bottom: 0;
      margin-right: auto;
      max-width: 16rem;
    }

    &-error {
      margin-top: 0;

      @include xl {
        margin-top: 0;
      }
    }

    &:hover {
      background-color: $color-secondary-hovered;
    }
    &:active {
      background-color: $color-secondary-active;
    }
  }
}
