@use "@/assets/styles/utils" as *;

.popup-text {
  position: fixed;
  display: flex;
  inset: 0;
  z-index: 150;
  justify-content: center;
  align-items: center;

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
  }

  &__card {
    position: relative;
    max-height: 90vh;
    max-width: 540px;
    max-width: 90vw;
    border-radius: 2rem;
    background-color: $color-secondary;
    padding: 1.5rem 2rem;
    text-align: center;
  }

  &__close-button {
    position: relative;
    margin-top: 1rem;
    transform: rotate(180deg);
  }
}
