@use "@/assets/styles/utils" as *;
@use "@/assets/styles/base" as *;

@font-face {
  font-family: "Tilda";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/TildaSansVF/TildaSans-VF.woff2") format("woff2");
}

@font-face {
  font-family: "Gropled";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Gropled/Gropled-Bold.woff2") format("woff2");
}

:root {
  --font-primary: "Tilda", sans-serif;
  --font-secondary: "Gropled", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
}

.button {
  user-select: none;
  -webkit-user-select: none;
}

.block-scrolling {
  @include xl {
    overflow: hidden;

    // margin-right: 1rem;
  }
}
