@use "@/assets/styles/utils" as *;

.layout {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  padding: 0.5rem 0.62rem 1rem;

  @include lg {
    padding: 0.5rem 10vw 2rem;
  }

  &__background_shapes {
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: $color-light;
    pointer-events: none;
    user-select: none;

    &::after {
      position: absolute;
      inset: 0;
      background: url("@/assets/background-shape-top.webp") no-repeat 0% 0%;
      background-size: 500%;
      opacity: 0.05;
      content: "";
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }
}
